<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-wrap aligncenter">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										<h1>Tax Invoice</h1>
									</td>
								</tr>
								<tr>
									<td class="content-block">
                    <p>ABN: {{ site.data.global.abn }}</p>
                    <p>Trader Name: {{ site.data.global.trading_name }}</p>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<table class="invoice">
											<tr>
												<td>{{ page.customer }}<br>Invoice #{{ page.invoice_number }}<br>{{ page.date | date_to_string }}<br>Due Date: {{ page.duedate | date_to_string }}</td>
											</tr>
											<tr>
												<td>
													<table class="invoice-items" cellpadding="0" cellspacing="0">
														{% if page.service1 %}
                            <tr>
															<td>{{ page.service1 }}</td>
															<td class="alignright">$ {{ page.service1_cost }}</td>
														</tr>
                            {% endif %}
                            {% if page.service2 %}
														<tr>
															<td>{{ page.service2 }}</td>
															<td class="alignright">$ {{ page.service2_cost }}</td>
														</tr>
                            {% endif %}
                            {% if page.service3 %}
														<tr>
															<td>{{ page.service3 }}</td>
															<td class="alignright">$ {{ page.service3_cost }}</td>
														</tr>
                            {% endif %}
                            {% if page.service4 %}
                            <tr>
                              <td>{{ page.service4 }}</td>
                              <td class="alignright">$ {{ page.service4_cost }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                              <td>Tax:</td>
                              <td class="alignright">$ {{ page.tax }}</td>
                            </tr>
														<tr class="total">
                              <td class="alignright" width="80%">Subtotal</td>
                              <td class="alignright">$ {{ page.cost_subtotal }}</td>
                            </tr>
                            <tr class="total">
															<td class="alignright" width="80%">Total</td>
															<td class="alignright">$ {{ page.cost_total }}</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="content-block">

									</td>
								</tr>
								<tr>
									<td class="content-block">
										{{ site.data.global.trading_name }}, {{ site.data.global.address }}
									</td>
								</tr>
                <tr>
                  <td class="content-block">
                    <h1>Billing to</h1>
                    <p>{{ page.customer }}</p>
                    <p>{{ page.customer_contact }}</p>
                    <p>Address: {{ page.customer_address }}</p>
                    <p>Phone: {{ page.customer_phone }}</p>
                    {% if page.customer_workphone %}
                    <p>Work Phone: {{ page.customer_workphone }}</p>
                    {% endif %}
                    <p>{{ page.customer_email }}</p>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <h2>Late Fees</h2>
                    <p>If an invoice is not paid by the due date, the total increases by 20%, and a further 20% for each subsequent week.</p>
                    <p>e.g. An invoice of $110 is paid two weeks late, so the final cost is $158.40</p>
                    <p><em>This is for administrative costs</em></p>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <h2>Payment Options</h2>
                    <p>Direct Debit:</p>
                    <p>BSB: {{ site.data.global.bsb }}</p>
                    <p>Account No.: {{ site.data.global.bankaccount }}</p>
                    <br>
                    <p>Make any cheques payable to {{ site.data.global.payable }}</p>
                  </td>
                </tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Questions? Email <a href="mailto:{{ site.data.global.email }}">{{ site.data.global.email }}</a></td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>
