<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Flex - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.url }}/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ site.url }}/css/responsive.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.url }}/css/custom.css">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

        {{ content }}

    </div>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
